<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon site Symfony!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <header class="p-3 mb-3 border-bottom">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a class="nav-link px-2 link-dark" href="{{ url('app_homepage') }}">Home</a></li>
                            <li><a class="nav-link px-2 link-dark" href="{{ url('app_hello') }}">Hello page</a></li>
                            <li><a class="nav-link px-2 link-dark" href="{{ url('app_ingredient_list') }}">Ingrédients</a></li>
                        </ul>
                  </div>
                </div>
            </header>
            <div class="col-lg-8 mx-auto p-3 py-md-5">
            {% block body %}{% endblock %}
            </div>
        </main>
        {% block footer %}
            <footer class="footer mt-auto py-3 bg-light">
                <div class="container">
                    <ul>
                        <li><a href="https://da2i.univ-lille1.fr/" target="_blank">Licence Professionnelle DA2I</a></li>
                    </ul>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
