{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.type.name|default('') }}</td>
                    <td>
                        <a href="{{ url("app_ingredient_update", {id: ingredient.id}) }}" class="btn btn-secondary" role="button">Modifier</a> <a href="{{ url("app_ingredient_delete", {id: ingredient.id}) }}" class="btn btn-warning" role="button">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3"> Aucun ingrédient</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url("app_ingredient_create") }}" class="btn btn-primary" role="button">Creér un ingrédient</a>
{% endblock %}
