{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>
        {% if type and type.id %}
            {{ 'app.type.update'|trans({'%name%':form.vars.data.name}) }}
        {% else %}
            {{ 'app.type.create'|trans }}
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
