{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
                <tr>
                    <th scope="row">{{ type.id }}</th>
                    <td>{{ type.name }}</td>
                    <td>
                        <a href="{{ url("app_type_save", {id: type.id}) }}" class="btn btn-secondary" role="button">Modifier</a> <a href="{{ url("app_type_delete", {id: type.id}) }}" class="btn btn-warning" role="button">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3"> Aucun type</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url("app_type_save") }}">Creér un type</a>
{% endblock %}
